/angular/educacion-admin/node_modules
/apache-tomcat-8.5.32/
/api-rest/Servers/
/api-rest/.metadata/
/api-rest/ArcCore/.classpath
/api-rest/ArcCore/.gitignore
/api-rest/ArcCore/.project
/api-rest/ArcCore/.settings/
/api-rest/ArcCore/.settings/org.eclipse.core.resources.prefs
/api-rest/ArcCore/.settings/org.eclipse.jdt.core.prefs
/api-rest/ArcCore/.settings/org.eclipse.m2e.core.prefs
/api-rest/ArcCore/.settings/org.eclipse.wst.common.component
/api-rest/ArcCore/.settings/org.eclipse.wst.common.project.facet.core.xml
/api-rest/ArcSecurity/.classpath
/api-rest/ArcSecurity/.gitignore
/api-rest/ArcSecurity/.project
/api-rest/ArcSecurity/.settings/
/api-rest/ArcSecurity/.settings/org.eclipse.core.resources.prefs
/api-rest/ArcSecurity/.settings/org.eclipse.jdt.core.prefs
/api-rest/ArcSecurity/.settings/org.eclipse.m2e.core.prefs
/api-rest/ArcSecurity/.settings/org.eclipse.wst.common.component
/api-rest/ArcSecurity/.settings/org.eclipse.wst.common.project.facet.core.xml
/api-rest/commons-domain/.classpath
/api-rest/commons-domain/.gitignore
/api-rest/commons-domain/.project
/api-rest/commons-domain/.settings/
/api-rest/commons-domain/.settings/org.eclipse.core.resources.prefs
/api-rest/commons-domain/.settings/org.eclipse.jdt.core.prefs
/api-rest/commons-domain/.settings/org.eclipse.m2e.core.prefs
/api-rest/commons-domain/.settings/org.eclipse.wst.common.component
/api-rest/commons-domain/.settings/org.eclipse.wst.common.project.facet.core.xml
/api-rest/educacion-domain/.classpath
/api-rest/educacion-domain/.gitignore
/api-rest/educacion-domain/.project
/api-rest/educacion-domain/.settings/
/api-rest/ws-rest-parameter/.classpath
/api-rest/ws-rest-parameter/.gitignore
/api-rest/ws-rest-parameter/.project
/api-rest/ws-rest-parameter/.settings/.jsdtscope
/api-rest/ws-rest-parameter/.settings/org.eclipse.core.resources.prefs
/api-rest/ws-rest-parameter/.settings/org.eclipse.jdt.core.prefs
/api-rest/ws-rest-parameter/.settings/org.eclipse.m2e.core.prefs
/api-rest/ws-rest-parameter/.settings/org.eclipse.wst.common.component
/api-rest/ws-rest-parameter/.settings/org.eclipse.wst.common.project.facet.core.xml
/api-rest/ws-rest-parameter/.settings/org.eclipse.wst.jsdt.ui.superType.container
/api-rest/ws-rest-parameter/.settings/org.eclipse.wst.jsdt.ui.superType.name
/api-rest/ws-rest-parameter/.settings/org.eclipse.wst.validation.prefs
/api-rest/ws-rest-security/.classpath
/api-rest/ws-rest-security/.gitignore
/api-rest/ws-rest-security/.project
/api-rest/ws-rest-security/.settings/
/api-rest/ws-rest-security/.settings/org.eclipse.core.resources.prefs
/api-rest/ws-rest-security/.settings/org.eclipse.jdt.core.prefs
/api-rest/ws-rest-security/.settings/org.eclipse.m2e.core.prefs
/api-rest/ws-rest-security/.settings/org.eclipse.wst.common.component
/api-rest/ws-rest-security/.settings/org.eclipse.wst.common.project.facet.core.xml
/api-rest/ws-rest-authentication/.classpath
/api-rest/ws-rest-authentication/.gitignore
/api-rest/ws-rest-authentication/.project
/api-rest/ws-rest-authentication/.settings/.jsdtscope
/api-rest/ws-rest-authentication/.settings/org.eclipse.core.resources.prefs
/api-rest/ws-rest-authentication/.settings/org.eclipse.jdt.core.prefs
/api-rest/ws-rest-authentication/.settings/org.eclipse.m2e.core.prefs
/api-rest/ws-rest-authentication/.settings/org.eclipse.wst.common.component
/api-rest/ws-rest-authentication/.settings/org.eclipse.wst.common.project.facet.core.xml
/api-rest/ws-rest-authentication/.settings/org.eclipse.wst.jsdt.ui.superType.container
/api-rest/ws-rest-authentication/.settings/org.eclipse.wst.jsdt.ui.superType.name
/api-rest/ws-rest-authentication/.settings/org.eclipse.wst.validation.prefs
/api-rest/ws-rest-commons/.classpath
/api-rest/ws-rest-commons/.gitignore
/api-rest/ws-rest-commons/.project
/api-rest/ws-rest-commons/.settings/
/api-rest/ws-rest-commons/.settings/org.eclipse.core.resources.prefs
/api-rest/ws-rest-commons/.settings/org.eclipse.jdt.core.prefs
/api-rest/ws-rest-commons/.settings/org.eclipse.m2e.core.prefs
/api-rest/ws-rest-commons/.settings/org.eclipse.wst.common.component
/api-rest/ws-rest-commons/.settings/org.eclipse.wst.common.project.facet.core.xml
/api-rest/ws-rest-authentication-cliente/.classpath
/api-rest/ws-rest-authentication-cliente/.gitignore
/api-rest/ws-rest-authentication-cliente/.project
/api-rest/ws-rest-authentication-cliente/.settings/
/api-rest/ws-rest-educacion/.classpath
/api-rest/ws-rest-educacion/.gitignore
/api-rest/ws-rest-educacion/.project
/api-rest/ws-rest-educacion/.settings/



       





















/api-rest/ws-rest-educacion-cliente/.classpath
/api-rest/ws-rest-educacion-cliente/.gitignore
/api-rest/ws-rest-educacion-cliente/.project
/api-rest/ws-rest-educacion-cliente/.settings/.jsdtscope
/api-rest/ws-rest-educacion-cliente/.settings/org.eclipse.core.resources.prefs
/api-rest/ws-rest-educacion-cliente/.settings/org.eclipse.jdt.core.prefs
/api-rest/ws-rest-educacion-cliente/.settings/org.eclipse.m2e.core.prefs
/api-rest/ws-rest-educacion-cliente/.settings/org.eclipse.wst.common.component
/api-rest/ws-rest-educacion-cliente/.settings/org.eclipse.wst.common.project.facet.core.xml
/api-rest/ws-rest-educacion-cliente/.settings/org.eclipse.wst.jsdt.ui.superType.container
/api-rest/ws-rest-educacion-cliente/.settings/org.eclipse.wst.jsdt.ui.superType.name
/api-rest/ws-rest-educacion-cliente/.settings/org.eclipse.wst.validation.prefs
/api-rest/ws-rest-educacion-cliente/.project
/api-rest/ws-rest-educacion-cliente/.settings
/api-rest/ws-rest-educacion-cliente/target
/api-rest/ws-rest-educacion-cliente/.classpath
/api-rest/ws-rest-educacion-cliente/.gitignore
