.aula_alumno-modal {
    // .sectionIdDiv {
    //     visibility: hidden;
    //     height: 0px;
    // }
    app-dynamic-form-component {
        overflow: hidden;
    }
}

.component-AULA_ALUMNO {
    .crud-table{
        
        .action-cell {
            width: 40px !important;
            min-width: 40px !important;
            max-width: 40px !important;
        }

    }
}
.control-mat-dialog .dynamicFormDiv[name=subForm]{
    
    .pepe{
        color:red;
    }

    

}
