.aulas-modal {
    // .sectionIdDiv {
    //     visibility: hidden;
    //     height: 0px;
    // }
    app-dynamic-form-component {
        overflow: hidden;
    }
}

.component-AULAS {
    .crud-table{
        
        .action-cell {
            width: 80px !important;
            min-width: 80px !important;
            max-width: 80px !important;
        }

    }
}
.control-mat-dialog .dynamicFormDiv[name=subForm]{
    
    .diaDiv{
        display: inline-block;
        width:45%;
        margin-right: 5%;
    }

    .horaDiv{
        display: inline-block;
        width:50%;
    }

    

}
