.profesores-modal {
    // .sectionIdDiv {
    //     visibility: hidden;
    //     height: 0px;
    // }
    app-dynamic-form-component {
        overflow: hidden;
    }
}

.component-PROFESORES {
    .crud-table{
        
        .action-cell {
            width: 200px !important;
            min-width: 200px !important;
            max-width: 200px !important;
        }

        #nombreNivelHeader,
        #nombreNivelCell{
            width: 220px;
            min-width: 220px;
            max-width: 220px;
        }

        

    }
}
.control-mat-dialog .dynamicFormDiv[name=subForm]{
    
    .nombreDiv{
        display: inline-block;
        width:45%;
        margin-right: 5%;
    }

    .apellidoDiv{
        display: inline-block;
        width:50%;
    }

    .usernameDiv{
        display: inline-block;
        width:25%;
        margin-right: 5%;
    }

    .emailDiv{
        display: inline-block;
        width:70%;
    }

    .tipoIdentificacionDiv{
        display: inline-block;
        width:25%;
        margin-right: 5%;
    }

    .numeroIdentificacionDiv{
        display: inline-block;
        width:70%;
    }

    .telefonoMovilDiv{
        display: inline-block;
        width:45%;
        margin-right: 5%;
    }

    .telefonoFijoDiv{
        display: inline-block;
        width:50%;
    }

    .valorHoraDiv{
        display: inline-block;
        width:25%;
        margin-right: 5%;
    }
    .tituloDiv{
        display: inline-block;
        width:70%;
    }

}

