.profesores-modal {
    // .sectionIdDiv {
    //     visibility: hidden;
    //     height: 0px;
    // }
    app-dynamic-form-component {
        overflow: hidden;
    }
}

.component-PROFESORES {
    .crud-table{
        
        .action-cell {
            width: 200px !important;
            min-width: 200px !important;
            max-width: 200px !important;
        }

        #nombreNivelHeader,
        #nombreNivelCell{
            width: 220px;
            min-width: 220px;
            max-width: 220px;
        }

        

    }
}
.control-mat-dialog .dynamicFormDiv[name=subForm]{
    
    .juancitoDiv{
        display: inline-block;
        width:80%;
        margin-right: 5%;
    }
    

}

